@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --preto-fundo: #06130e;
    --preto-destaque: #091b14;
    --verde-destaque: #06d6a0;
    --cinza-destaque: #727568;
    --branco-claro: #f8ffe5;
    --cinza-escuro: #12201b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto-fundo);
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3%;
}

header p {
    color: var(--verde-destaque);
    font-weight: 500;
    font-size: 1vw;
}

a {
    text-decoration: none;
}

.pesquisar-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.pesquisar-container input {
    width: 15%;
    padding: 8px 12px;
    border: 1px solid var(--verde-destaque);
    border-radius: 5px;
    font-size: 0.7rem;
    background-color: var(--cinza-escuro);
    color: var(--branco-claro);
    outline: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    gap: 5vh;
}

.card-aulas {
    width: 85%;
    height: 22vh;
    background-color: var(--preto-destaque);
    padding: 1%;
    border-radius: 3px;
    border: 1px solid var(--cinza-escuro);
}

.card-aulas p {
    color: var(--verde-destaque);
    font-size: 0.8vw;
    font-weight: 600;
}

.card-aulas h2 {
    color: var(--branco-claro);
    font-size: 1.3vw;
    font-weight: 600;
    margin-top: 3vh;
}

.card-aulas h3 {
    color: var(--cinza-destaque);
    font-size: 1vw;
    font-weight: 400;
    margin-top: 2vh;
}
.fundo-animado {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.bola-verde {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: var(--verde-destaque);
    border-radius: 50%;
    filter: blur(150px);
    opacity: 0.9;
    animation: movimento 25s infinite alternate ease-in-out;
    top: 20%;
    left: 10%;
}

@keyframes movimento {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(70vw, 100vw);
    }
}

@media (max-width: 768px) {
    header {
        height: 7vh;
    }

    header p {
        font-size: 4vw;
    }

    .pesquisar-container input {
        width: 25%;
        font-size: 1.4rem;
    }

    .card-aulas {
        height: 25vh;
        padding: 2vh;
        border: 5px;
    }

    .card-aulas p {
        font-size: 2.5vw;
    }

    .card-aulas h2 {
        font-size: 4vw;
    }

    .card-aulas h3 {
        font-size: 2.6vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    header {
        height: 8vh;
    }

    header p {
        font-size: 3vw; 
    }

    .pesquisar-container input {
        width: 30%; 
        font-size: 1.2rem;
    }

    .card-aulas {
        height: 20vh; 
        padding: 1.5%;
    }

    .card-aulas p {
        font-size: 2vw; 
    }

    .card-aulas h2 {
        font-size: 3vw; 
    }

    .card-aulas h3 {
        font-size: 2.3vw; 
    }
}
